body {
    margin-top: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.intro_page {

    display: flex;
    margin-bottom: 20px;
}

.intro_page_half {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.intro_page_half img {
    width: 50%;


}

span {
    color: coral;
}

a {
    background-image: linear-gradient(red, tomato);
    border-radius: 10px;
    text-decoration: none;
    color: aliceblue;
    padding: 7px;
}

.about_sec {
    display: flex;
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    margin-bottom: 5%;
    height: 100%;



}

.about_sec_half {
    width: 50%;
    margin-top: 5%;
    margin-right: 5%;

}

.about_sec_half p {

    margin-right: 20%;
    text-align: justify;

}

.about_sec img {
    width: 40%;
    margin-left: 30%;


}

.MYRECIPE {
    text-align: center;
    margin: 0 30%;
}

.recipee_item {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;

}

.item_box {

    text-align: justify;
    width: 30%;
    box-shadow: 10px 10px 40px silver;
    padding: 10px;
    border-radius: 15px;


}

.item_box img {
    width: 100%;
}

.item {
    margin-left: 5%;
}

.followers {

    display: flex;
    margin: 5% 5%;
    box-shadow: 10px 10px 40px silver;
    padding: 10px;
    border-radius: 15px;
}

.followers div {
    width: 30%;
    text-align: center;
}